/* ------------ Site Global ----------- */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: #f4f7f9;
  color: #080500;
}

hr {
  margin: 0px;
}

input {
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

h1 {
  margin: 0px;
}

.button {
  background-color: #746A5C;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 1em;
  color: #FFD59C;
  transition: all 0.3s ease;
}

.button:hover {
  color: #746A5C;
  background-color: #FFD59C;
  cursor: default;
}

.round-btn {
  border: none;
  border-radius: 50%;
  padding: 0px 13px;
}

.main-content {
  margin-top:50px;
  padding: 10px;
}

.error {
  color: red;
  font-size: 0.75em;
}

.center {
  text-align: center;
}

.input-group {
  display: inline-block;
  margin: 3px auto;
}

.subtle-text {
  font-size: 0.75em;
}

.centered-block {  /* TODO: misleading name since not setting block?, fix */
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

/* ---------- Header/Nav ------------ */
.header .brand {
  float: left;
  display: inline-block;
}

.header {
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #DA891B;
  color: #FFD59C;
}

.header .brand-title {
  display: inline-block;
  margin-left: 10px;
}

.header .user-details {
  float: right;
  padding: 14px 10px;
}

.header .user-details span {
  padding: 0px 10px;
}


/* --------- Chat Rooms ------------ */
.room-table {
  border-collapse: collapse;
}

.room-row:hover {
  background-color: #FFD59C;
  cursor: default;
  transition: background-color 0.3s ease;
}

.room-table {
  width: 100%;
  overflow-y: auto;
}

.aligned-label {
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  width: 150px;
  padding: 3px 5px 3px 0px;
}

.inline {
  display: inline-block;
}

/* --------- Message Window ----------- */
.messages-window {
  position: fixed;
  width: 100%;
  top: 110px;
  bottom: 55px;
  right: 10px;
  left: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message-table tr td {
  padding: 5px 0px;
}

.message-user {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 0.8em;
}

/* --------- Message Bar -------------- */
.message-bar {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 1px 1px 5px 2px #888888;
  background-color: #f4f7f9;
}

.message-bar span.button {
  padding: 3px 10px;
  float:left;
}

.message-bar div.msg-text-box {
  padding: 8px 0px 0px 0px;
  overflow: hidden;
}

.message-bar textarea  {
  background-color: transparent;
  border: none;
  width: 99%;
  resize: none;
  font-size: 1em;
}

.message-bar textarea:focus {
  outline: none;
}

